<div class="container">
  <h1><%= @pet.name %> lost!</h1>
  <p>
    <%= @pet.name %> lost <%= @pet.lost_days_ago %> days ago in <%= @pet.address %>, it's a <%= @pet.species %>.
  </p>

  <%= link_to "Delete pet", pet_path(@pet), method: :delete, data: { confirm: "Are you sure you found it?"},  class: "btn btn-danger" %>
  <%= link_to "Edit", edit_pet_path(@pet),  class: "btn btn-outline-primary" %>

  <%= link_to "Back to list", pets_path, class: "btn btn-link" %>
</div>